html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-family: 'Lato', sans-serif !important;
}

.hero {
	.logo {
		margin-top: 20px;
		height: 280px;
		width: 280px;
		background: url(../images/logo.png);
	}
	h1 {

	}
}